body {
    overflow-x: 0;
    font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Catamaran', sans-serif;
}

button .btn {
    font-family: 'Lato', sans-serif;
}

#firstSec {
    background: url('/img/bg-pattern.png') repeat;
    overflow: hidden;
    position: relative;
}

#firstSec * {
    z-index: 1000;
    color: white;
}

#firstSec::after {
    content: "";
    display: table;
    clear: both;
    background: linear-gradient(440deg, rgba(194, 0, 0, 0.925), rgba(156, 0, 148, 0.884));
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}

#secDiscover img {
    width: 135px;
}

#secDiscover {
    background: rgb(252, 185, 1);
    padding: 150px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.newAge {
    padding: 80px;
}

.newAgePhone {
    padding: 80px;
}

.newAgePhone img {
    width: 50%;
    border-radius: 30px;
    box-shadow: 0 0 20px white;
}

#startBtn {
    padding: 10px 20px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid white;
    transition: background 300ms;
}

#startBtn:hover {
    background: #fdcc52;
}

#firstSec .brandBtn p {
    color: rgb(252, 185, 1);
}

#firstSec .brandBtn p:hover {
    color: rgb(255, 255, 255);
}

#firstSec .nav>li>a:hover {
    background: transparent;
}

#firstSec .fix {
    /*  position: fixed;
    top: 0;
    z-index: 1030; */
}

#secDiscover h1 {}

.unlimitedPhone {
    width: 50%;
    border-radius: 30px;
    box-shadow: 0 0 20px white;
    margin: 80px;
}

/* h3::before {
    content: "\265E"
} */

.unlimitedRow {
    margin: 80px;
}

#startBtn-2 {
    padding: 10px 20px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid white;
    transition: background 300ms;
}

#startBtn-2:hover {
    background: #fdcc52;
}

.buildingClass {
    margin: 160px;
}

.buildingClass h1 {
    color: white;
}

span {
    color: red;
}

#building {
    background: url("/img/bg-cta.jpg") no-repeat;
    background-position: fixed;
    box-shadow: inset 0 0 0 4095px rgba(73, 73, 73, 0.568);
}

.twitterIcon {
    background: #1DA1F2;
    padding: 10px;
    width: 50px;
    border-radius: 100%;
    color: white;
    font-size: 20px;
    opacity: .9;
}

.twitterIcon:hover {
    opacity: 1;
}

.facebookIcon {
    background: #4867AA;
    padding: 10px;
    width: 50px;
    border-radius: 100%;
    color: white;
    font-size: 20px;
    opacity: .9;
}

.facebookIcon:hover {
    opacity: 1;
}

.googleIcon {
    background: #DD4B39;
    padding: 10px;
    width: 50px;
    border-radius: 100%;
    color: white;
    font-size: 20px;
    opacity: .9;
}

.googleIcon:hover {
    opacity: 1;
}

footer {
    background: black;
    color: slategrey;
}

footer p:first-child {
    padding-top: 10px;
}

#priv {
    color: slategrey;
}

#priv:hover {
    color: #fdcc52;
}

#term {
    color: slategrey;
}

#term:hover {
    color: #fdcc52;
}

#faq {
    color: slategrey;
}

#faq:hover {
    color: #fdcc52;
}